.body-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2242px;
}

.unlock, .achievements,
.calender,
.customer {
    height: 288px;
    background: #F5F7FA;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1440px;
}

.unlock {
   height: 433px;  
   background: none;
}

.unlock-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 661px;
    height: 268px;
}

.unlock-text {
    width: 601px;
    height: 184px;
}

.unlock-title,
.achievements-title,
.calender-title,
.update-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: #4D4D4D;
}

.unlock-description,
.calender-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #717171;
}

.unlock-button {
    width: 151px;
    height: 52px;
    border-radius: 4px;
}

.unlock-button:focus {
    background-color: #18911c;
    border: 2px solid #4D4D4D;
}



.achievements-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 540px;
    height: 120px;
    align-items: flex-start;
}

.achievements-title-two {
    color: #4CAF4F;
}

.achievements-description,
.achievements-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #18191f;
}

.couts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 540px;
    height: 160px;
    align-items: center;
}

.members, .clubs, .event-bookings, .payments {
    justify-content: space-between;
    width: 255px;
    height: 60px;
}

.counts-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 191px;
    height: 60px;
}

.number {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

.calender {
    height: 433px;
    background: none;
}

.calender-content,
.customer-content,
.customer-author {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 308px;
    width: 661px;
}

.calender-text {
    width: 601px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

/** attribute set same at unlock title attribute **/
.calender-title {
    color: #4D4D4D;
}

.calender-button {
    width: 151px;
    height: 52px;
}

.calender-button:focus {
    background-color: #18911c;
    border: 2px solid #4D4D4D;
}

.customer {
    height: 390px;
}

.customer-content {
    height: 324px;
    width: 748px;
}

.customer-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 748px;
    height: 244px;
}

.customer-description,
.update-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #717171;
}

.customer-author {
    height: 60px;
}

.author-name,
.customer-more {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #4CAF4F;
}

.author-position {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #89939E;
}

.customer-logo,
.customer-more,
.customer-logo-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer-logo-head {
    width: 493px;
}

.customer-more {
    width: 223px;
}

.community-update,
.update-head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.community-update {
    height: 506px;
}

.community-update-head {
    height: 124px;
    width: 1110px;
}

.update-description {
    width: 628px;
    text-align: center;
}

.update-content {
    display: flex;
    justify-content: space-between;
    height: 366px;
    width: 1152px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.update-one, .update-two, .update-three {
    display: grid;
    width: 368px;
    height: 366px;
    position: relative;
}

.update-about {
    width: 285px;
    height: 144px;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #F5F7FA;
    box-shadow: 0px 8px 16px 0px #ABBED166;
    position: absolute;
    bottom: 0px;
    left: 20px;
}

.about-content {
    color: #717171;
    width: 285px;
    height: 84px;
}

.update-more {
    display: flex;
    justify-content: space-between;
    width: 131px;
    height: 44px;
    color: #4CAF4F;
    align-items: center;
}