.footer,
.footer-head,
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 300px;
    justify-content: space-evenly;
}

.footer-head {
    justify-content: space-evenly;
    height: 300px;
    width: 1440px;
    background-color: #F5F7FA;
}

.footer-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
    color: #263238;
    width: 887px;
    height: 152px;
}

.footer-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 178px;
    height: 52px;
}



.footer-content {
    width: 1440px;
    height: 328px;
    background: #263238;
    flex-direction: row;
}

.company-info,
.company,
.support,
.stay-up,
.copyright,
.company-links,
.support-links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.company-info {
    width: 350px;
    height: 189px;
    align-items: flex-start;
}

.copyright {
    height: 48px;
    align-items: start;
}

.copyright {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #F5F7FA;
}

.social-links,
.links {
    display: flex;
    justify-content: space-between;
    width: 176px;
}

.links {
    width: 635px;
    height: 200px;
}

.company,
.support {
    width: 160px;
    height: 200px;
    align-items: flex-start;
}

.company-title,
.support-title,
.stayup-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    align-items: flex-start;
    color: white;
}


.company-links,
.support-links {
    height: 148px;
    align-items: start;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #F5F7FA;
}

.stay-up {
    width: 255px;
    height: 92px;
    position: relative;
    align-items: flex-start;
}

.email-input {
    display: inline-block;
    width: 255px;
    height: 40px;
}

.email-input-box {
    background-color: gray;
    width: 255px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #D9DBE1;
}

#email-input-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #D9DBE1;
    position: absolute;
    top: 63px;
    left: 12px;
}

.email-send-image {
    position: absolute;
    top: 63px;
    left: 225px;
    cursor: pointer;
}