body {
    width: 1440px;
    height: 3046px;
    font-family: inter;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*This is head*/
.header {
    padding: 11px 100px;
    background: #F5F7FA;
    height: 84px;
}

.logo-icon {
    width: 35px;
    height: 24px;
}

.logo-nexcent {
    width: 111px;
    height: 20px;
}

.menu {
    width: 588px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #18191F;
}

.button-head-box {
    width: 182px;
}
/*this is global button setting*/
.button {
    color: #FFFFFF;
    background-color: #4CAF4F;
    padding: 10px 20px;
    border-radius: 6px;
    border: hidden;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
}

.button-signup {
    width: 92px;
    height: 40px;
}

.button-signup:focus{
    background-color: #18911c;
    border: 2px solid #4D4D4D;
}

.button-login {
    color: #4CAF4F;
    background: #F5F7FA;
    border: 1px solid #4CAF4F;
    width: auto(77px);
    height: auto(40px);
}

.button-login:focus {
    background: linear-gradient(0deg, #89939E, #89939E);
    border: 2px solid #4D4D4D;
}

.home {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 3577px;
}


.hero-section {
    padding: 96px 144px;
    background: var(--neutral-silver, #F5F7FA);
    width: 1152px;
}


.frame-one {
    flex-direction: column;
    align-items: flex-start;
    width: 657px;
    height: 276px;
}

.frame-one-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
    color: var(--neutral-d-grey, #4D4D4D);
}

.frame-one-content {
    flex-direction: column;
    align-items: start;
}

.frame-one-title-two {
    color: var(--brand-primary, #4CAF4F);
}

.frame-one-typo {
    color: var(--neutral-grey, #717171);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.frame-one-button {
    padding: 14px 32px 14px 32px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: 128px;
    height: 52px;
}

.frame-one-button:focus{
    background-color: #18911c;
    border: 2px solid #4D4D4D;
}

.frame-one-img {
    width: 391px;
    height: 407px;
    position: relative;
}

.frame-one-dot {
    position: absolute;
    top: 657px;
    left: 697px;
    width: 46px;
    height: 10px;
}

.dot-button {
    background-color: #4CAF50;
    border: none;
    display: inline-block;
    transition-duration: 0.4s;
    background-color: rgb(138, 174, 149);
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.dot-button:hover {
    background-color: #4CAF50;
}

.dot-button:focus {
    background-color: #4CAF50;
}

.img-pc {
    width: 194px;
    height: 268px;
    position: absolute;
    top: 51px;
    left: 0px;
}

.img-windows {
    width: 219px;
    height: 286px;
    position: absolute;
    top: 0px;
    left: 19px;
}

.img-shadow-one {
    width: 95px;
    height: 57px;
    position: absolute;
    top: 349px;
    left: 106px;
}

.img-human {
    width: 125px;
    height: 257px;
    position: absolute;
    top: 119px;
    left: 251px;
}

.img-human-shadow {
    width: 109px;
    height: 63px;
    position: absolute;
    top: 329px;
    left: 281px;
}

.img-bubbles {
    width: 28px;
    height: 35px;
    position: absolute;
    top: 68px;
    left: 258px;
}

.img-pc-shadow {
    width: 194px;
    height: 112px;
    position: absolute;
    top: 230px;
}

.clients {
    flex-direction: column;
    height: 190px;
}

.our-client {
    flex-direction: column;
}

.clients-head {
    text-align: center;
    font-size: 36px;
    line-height: 44px;
    color: #4D4D4D;
    font-weight: 600;
}

.clients-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #717171
}

.clients-logo-section {
    width: 1152px;
    height: 98px;
}

.community {
    flex-direction: column;
    height: 416px;
}

.community-head { 
    flex-direction: column; 
    height: 120px;
}

.community-head-title {
    width: 542px;
}

.frame-two {   
    width: 1152px;;
    height: 280px;
}

.frame-two-head {
    height: 144px;
    flex-direction: column;
    width: 200px;
}

.frame-two-part {
    padding: 24px 32px 24px 32px;
    border-radius: 8px;
    gap: 8px;
    flex-direction: column;
    width: 235px;
    height: 232px;
    box-shadow: 0px 2px 4px 0px #ABBED133;
}

.frame-two-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}

.frame-two-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #717171;
    width: 240px;
}