body {
    width: 1002px;
    height: 3046px;
}

.header {
    display: flex;
    padding: 11.137px 100.234px;
    justify-content: space-between;
    align-content: center;
    gap: 43.852px;
    background: var(--neutral-white, #FFF);
    box-shadow: 0px 4px 8px 0px rgba(171, 190, 209, 0.40);
    width: 802px;
    height: 36.5px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5.569;
    justify-content: space-between;
}

.logo-icon {
    width: 24.362px;
    height: 16.706px;
}

.logo-nexcent {
    width: 77.605px;
    height: 14.382px;
    fill: var(--brand-secondary, #263238);
}

.right-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 22.274px;
    flex: 1 0 0;
}

.menu {
    display: flex;
    align-items: flex-start;
    gap: 16.706px;
    height: 17px;
}

.menu-item {
    color: var(--neutral-d-grey, #4D4D4D);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.home {
    width: 70.999px;
    display: flex;
    align-items: center;
    gap: 5.569px;
    justify-content: center;
}


.button {
    display: flex;
    padding: 6.245px 21.774px;
    justify-content: center;
    align-items: center;
    gap: 5.569px;
    border-radius: 2.784px;
    background: var(--brand-primary, #4CAF4F);
    border: hidden;
}

.button-text {
    color: var(--neutral-white, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.right-arow {
    width: 7.963px;
    height: 4.177px;
    flex-shrink: 0;
}

.button-header:hover {
    border-radius: 4px;
    background: var(--brand-primary, #4CAF4F);
}

.button:focus {
    border-radius: 4px;
    border: 2px solid var(--neutral-d-grey, #4D4D4D);
    background: var(--brand-primary, #4CAF4F);
}

.button:active {
    border-radius: 4px;
    background: var(--shade-s-2, #388E3B);
}

.hero-section {
    display: flex;
    padding: 66.823px 100.234px;
    align-items: center;
    gap: 72.391px;
    align-self: stretch;
    background: var(--neutral-silver, #F5F7FA);

}

.frame-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22.274px;
    flex: 1 0 0;
    justify-content: space-between;
    width: 457.3px;
}

.frame-one-title {
    font-family: Inter;
    font-size: 44.548px;
    font-style: normal;
    font-weight: 600;
    line-height: 52.901px;

}

.frame-one-title-one {
    color: var(--neutral-d-grey, #4D4D4D);
}

.frame-one-title-two {
    color: var(--brand-primary, #4CAF4F);
}

.frame-one-typo {
    color: var(--neutral-grey, #717171);
    font-family: Inter;
    font-size: 11.137px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.706px;
}

.frame-one-button {
    gap: 6.961px;
}

.frame-one-img {
    width: 272.163px;
    height: 283.3px;
    position: relative;

}

.img-pc {
    width: 135.113px;
    height: 186.94px;
    flex-shrink: 0;
    position: absolute;
    top: 36px;
    right: 136px;
    bottom: 60.3px;
    left: 0.56px;
}

.img-windows {
    width: 152.839px;
    height: 199.432px;
    flex-shrink: 0;
    position: absolute;
    top: 0px;
    right: 106px;
    bottom: 83.9px;
    left: 13.5px;
}

.img-shadow-one {
    width: 66.49px;
    height: 39.993px;
    flex-shrink: 0;
    position: absolute;
    top: 243px;
    right: 132px;
    left: 74.2px;
}

.img-human {
    width: 87.544px;
    height: 179.003px;
    flex-shrink: 0;
    position: absolute;
    top: 82.85px;
    right: 9.32px;
    bottom: 21.44px;
    left: 175.3px;
}

.img-human-shadow {
    width: 76.16px;
    height: 43.96px;
    flex-shrink: 0;
    position: absolute;
    top: 229.62px;
    bottom: 9.72px;
    left: 196px;
}

.img-bubbles {
    width: 19.788px;
    height: 25.045px;
    flex-shrink: 0;
    position: absolute;
    top: 47.4px;
    right: 72.75px;
    bottom: 210.85px;
    left: 179.96px;
}

.img-pc-shadow {
    width: 135.69px;
    height: 78.348px;
    flex-shrink: 0;
    position: absolute;
    top: 160px;
    right: 136px;
    bottom: 44.8px;
}