body {
    width: 1440px;
    height: 3046px;
}

.header {
    display: flex;
    padding: 11px 100px;
    justify-content: space-between;
    align-content: center;
    gap: 43px;
    background: var(--neutral-white, #FFF);
    box-shadow: 0px 4px 8px 0px rgba(171, 190, 209, 0.40);
    height: 84px;
}

.logo {
    display: flex;
    align-items: center;
   
    justify-content: space-between;
}

.logo-icon {
    width: 35px;
    height: 24px;
    
}

.logo-nexcent {
    width: 111px;
    height: 20px;
    fill: var(--brand-secondary, #263238);
    margin-left: 5px;

}


.right-menu {
    display: flex;
   
    align-items: center;
    gap: 50px;
    
}

.menu {
    display: flex;
    align-items: center;
    gap: 50px;
    
}

.menu-item {
    color: var(--neutral-d-grey, #4D4D4D);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    align-items: center;
    
}

.home {
    
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.button-head-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:14px;
}


.button {
    display: flex;
    padding: 6px 21px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 7px;
    background: var(--brand-primary, #4CAF4F);
    border: hidden;
    cursor: pointer;
}
.button-signup{
    color: var(--neutral-white, #FFF);
}
.button-login{
    color: #4CAF4F;
    background: #F5F7FA ;
    display: flex;
    padding: 6px 21px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 7px; 
    border: none;
    cursor: pointer;


}

.button-text {
    
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.right-arrow {
    width: 8px;
    height: 4px;
    flex-shrink: 0;
}

.button:hover {
    border-radius: 4px;
    background: var(--brand-primary, #4CAF4F);
}

.button:focus {
    border-radius: 4px;
    border: 2px solid var(--neutral-d-grey, #4D4D4D);
    background: var(--brand-primary, #4CAF4F);
}

.button:active {
    border-radius: 4px;
    background: var(--shade-s-2, #388E3B);
}

.hero-section {
    display: flex;
    padding: 96px 144px;
    align-items: center;
    gap: 104px;
    align-self: stretch;
    background: var(--neutral-silver, #F5F7FA);

}

.frame-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    justify-content: space-between;
    width: 657px;
    height: 276px;
}

.frame-one-title {
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 76px;
    

}
.frame-one-content{
    display: flex;
    flex-direction: column;
    gap:32px;
}
.frame-one-title-one {
    color: var(--neutral-d-grey, #4D4D4D);
}

.frame-one-title-two {
    color: var(--brand-primary, #4CAF4F);
}

.frame-one-typo {
    color: var(--neutral-grey, #717171);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.frame-one-button {
    padding: 14px, 32px, 14px, 32px;
    border-radius: 4px;
    gap: 10px;
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    background-color: #4CAF4F;
    border: none;
    
}

.frame-one-img {
    width: 391px;
    height: 407px;
    position: relative;
    
}

.img-pc {
    width: 194px;
    height: 268px;
    flex-shrink: 0;
    position: absolute;
    top: 51px;
    left: 0px;
}

.img-windows {
    width: 219px;
    height: 286px;
    flex-shrink: 0;
    position: absolute;
    top: 0px;
    left: 19px;
}

.img-shadow-one {
    width: 95px;
    height: 57px;
    flex-shrink: 0;
    position: absolute;
    top: 349px;
    left: 106px;
}

.img-human {
    width: 125px;
    height: 257px;
    flex-shrink: 0;
    position: absolute;
    top: 119px;
    left: 251px;
}

.img-human-shadow {
    width: 109px;
    height: 63px;
    flex-shrink: 0;
    position: absolute;
    top: 329px;
    left: 281px;
}

.img-bubbles {
    width: 28px;
    height: 35px;
    flex-shrink: 0;
    position: absolute;
    top: 68px;
    left: 258px;
}

.img-pc-shadow {
    width: 194px;
    height: 112px;
    flex-shrink: 0;
    position: absolute;
    top: 230px;
}
.clients{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 190px;
    padding: 0px 144px;
    gap:16px
}
.our-client{
    display: flex;
    gap:8px;
}
.clients-head{
    text-align: center;
    font-size: 36px;
    font-family: inter;
    line-height: 44px;
    color: #4D4D4D;
    font-weight: 600;
}
.clients-description{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color:#717171
}
.clients-logo-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1152px;
    height: 98px;
}
.clients-logo{
    width: 48px;
    height: 48px;
    padding: 9.85px, 0px, 9.15px, 1px;

}
.community-head{
    display: flex;
    gap:8px;
    flex-direction: column;
    align-items: center;
    
}
.community-head-title{
    width: 542px;
}
.frame-two{
    display: flex;
    justify-content: space-between;
    padding: 0px 144px;
    height: 280px;
   
}
.frame-two-head{
    gap:16px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.frame-two-part{
    padding: 24px, 32px, 24px, 32px;
    border-radius: 8px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    width: 299px;
    align-items: center;
    box-shadow: 0px 2px 4px 0px #ABBED133;

}
.frame-two-icon{
    width: 65px;
    height: 56px
}
.frame-two-title{
   
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;

}
.frame-two-description{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #717171;
}